header {
  background-color: #d91e18;
  color: white;
  padding: 10px;
  text-align: center;
}
section {
  padding: 20px;
}
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
}
